<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Om Dental Clinic</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
	
	<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <!-- Company Pages  -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        
        <li class="nav-item">
     
         
       
          <li>
            <a class="nav-link collapsed" th:href="@{/patientinfo}">
              <i></i><span>Patient Registration</span>
            </a>
          </li>
          
          
          <li>
            <a class="nav-link collapsed" th:href="@{/patientList}">
              <i></i><span>Patient List</span>
            </a>
          </li>
        
        
      </li>
     
    </ul>

  </aside>
  
  <!-- End Of Company Pages  -->
  


    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Om Dental Clinic</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

	
	<!-- User Profile nav -->	
	<nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!-- End Search Icon-->

       <!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <h6>Profile</h6> 
            <span class="d-none d-md-block dropdown-toggle ps-2"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <span>Welcome, <span th:text="${username}">Username</span></span>
        	  <a th:href="@{/logout}">Logout</a>
            </li>
            

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  <!-- ======= Sidebar ======= -->

 <main id="main" class="main">

    <div class="pagetitle">
    <button onclick="goBack()" type="button" class="btn btn-secondary rounded-pill btn-sm" style="float: right;">
    <i class="fas fa-arrow-left"></i>Back</button>
      <h1>Patient Details Search Form</h1>
      <nav>
        <ol class="breadcrumb">
          	<li class="breadcrumb-item"><a href="#">Home</a></li>
          	<li class="breadcrumb-item active">Patient Details</li>
        </ol>
      	</nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Patients Procedure</h5>

			<div class="table-responsive">
			<table class="table">
			    <thead>
			        <tr>
			            <th>#</th>
			            <th>Procedure Date</th>
			            <th>Procedure Detail</th>
			             <th>Estimated</th>
			             <th>Amount Paid</th>
			            <th>Balance</th>
			            <th>Actions</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="patientProcedure, procedureStat : ${patientProcedures}">
			            <td th:text="${procedureStat.index + 1}"></td>
			            <td th:text="${#dates.format(patientProcedure.proceduredate, 'dd-MM-yyyy')}"></td>
			            <td th:text="${patientProcedure.proceduredetail}"></td>
			            <td th:text="${patientProcedure.estimateamount}"></td>
			            <td th:text="${patientProcedure.paymentamount}"></td>
			            <td th:text="${patientProcedure.balanceamount}"></td>
			            
			            <td>
		                  <a style="margin-left:6px;" class="btn btn-primary" th:href="@{/editProcedure/{patientId}/{procedureId}(patientId=${patientinfo.patientnumber}, procedureId=${patientProcedure.procedureid})}" th:if="${userRole == 'ADMIN'}">Update</a>
		                  <a style="margin-left:6px;" class="btn btn-primary" th:href="@{/editProcedure/{patientId}/{procedureId}(patientId=${patientinfo.patientnumber}, procedureId=${patientProcedure.procedureid})}" th:if="${userRole == 'RECEP1' || userRole == 'RECEP2' || userRole == 'RECEP3' }" >View</a> 
			              <a class="btn btn-danger mx-2" th:href="@{/deleteProcedure/{patientId}/{procedureId}(patientId=${patientinfo.patientnumber}, procedureId=${patientProcedure.procedureid})}" th:if="${userRole == 'ADMIN'}">Delete</a>


			            </td>
			        </tr>
			    </tbody>
			</table>

			</div>
              <!-- End Table with stripped rows -->
			  
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  
  <br>
<footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Om Dental Clinic</span></strong>. All Rights Reserved
    </div>
   
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.umd.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
  <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  text-align: center;
}
</style>
	<script type="text/css">
.pagination {
    text-align: center;
}
.pagination button {
    margin: 10px;
}

	</script>  
	
	<!-- Back Next Button -->
	<script>
    function goBack() {
        window.history.back();
    }
	</script>
	<script>
    function goForward() {
        window.history.forward();
    }
	</script>
	

</body>
</html>