<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Om Dental Clinic</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Templa/te Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
 <style>
 	/* Regular style for the back button */
.btn-secondary {
    /* Add any regular styling you want for the button */
    /* For example, you can set a fixed width */
    width: 120px;
}

/* Responsive styling for the back button on smaller screens*/
@media (max-width: 360px) {
    .btn-secondary {
        /* Adjust styling for smaller screens */
        /* For example, you can set a smaller width */
        width: 100px;
    }
}
 	
 	</style>
  
</head>

<body>
	<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
  <!-- Company Pages  -->
  <aside id="sidebar" class="sidebar">

     <ul class="sidebar-nav" id="sidebar-nav">
        
        <li class="nav-item">
     
          <li>
            <a class="nav-link collapsed" th:href="@{/appointment}">
              <i></i><span>Appointment</span>
            </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/viewAppointment}">
              <i></i><span>View Appointments</span>
            </a>
          </li>
       
          <li>
            <a class="nav-link collapsed" th:href="@{/patientinfo}">
              <i></i><span>Patient Registration</span>
            </a>
          </li>
          
          
          <li>
            <a class="nav-link collapsed" th:href="@{/patientList}">
              <i></i><span>Patient List</span>
            </a>
          </li>
          
          <li>
            <a class="nav-link collapsed" th:href="@{/register}" th:if="${userRole == 'ADMIN'}">
              <i></i><span>Create User</span>
            </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/usersList}" th:if="${userRole == 'ADMIN'}">
              <i></i><span>Users List</span>
            </a>
          </li>
        
        
          <li>
    <a class="nav-link collapsed" data-bs-target="#money-received-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Money Received</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="money-received-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
            <a class="nav-link collapsed" th:href="@{/displayAmount}">
                <i class="bi bi-circle"></i><span>By Session</span>
            </a>
        </li>

        <li>
            <a class="nav-link collapsed" th:href="@{/doctorReport}">
                <i class="bi bi-circle"></i><span>By External Doctor</span>
            </a>
        </li>

        <li>
            <a class="nav-link collapsed" th:href="@{/labReport}">
                <i class="bi bi-circle"></i><span>By Lab</span>
            </a>
        </li>
    </ul>
</li>

<li>
    <a class="nav-link collapsed" data-bs-target="#export-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Export</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="export-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
            <a class="nav-link collapsed" href="/patients/excel">
                <i class="bi bi-circle"></i><span>Export Patient</span>
            </a>
        </li>

        <li>
            <a class="nav-link collapsed" href="/appointment/excel">
                <i class="bi bi-circle"></i><span>Export Appointment</span>
            </a>
        </li>
    </ul>
</li>

     
    </ul>

  </aside>
  
  <!-- End Of Company Pages  -->
  


    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Om Dental Clinic</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
   	<!-- User Profile nav -->	

	<nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!-- End Search Icon-->

       <!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <h6>Profile</h6> 
            <span class="d-none d-md-block dropdown-toggle ps-2"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <span>Welcome, <span th:text="${username}"></span></span>
        	  <a th:href="@{/logout}">Logout</a>
            </li>
            

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->
    

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->

    <!-- ======= Header ======= -->
    
 <main id="main" class="main">

        <div class="pagetitle">
        <button onclick="goBack()" type="button" class="btn btn-secondary rounded-pill btn-sm" style="float: right;">
    	<i class="fas fa-arrow-left"></i>Back</button> <br>
          <h1>Appointment Booking Form</h1>
          <nav>
        	<ol class="breadcrumb">
          		<li class="breadcrumb-item"><a href="#">Home</a></li>
          		<li class="breadcrumb-item active">Appointment Booking</li>
        	</ol>
      		</nav>
        </div>
        <div class="card">
            <div class="card-body" style="margin-top: 5px;">
              <h5></h5>
    
              <!-- General Form Elements  <form th:object="${patientinfo}" th:action="@{SavePatientInfo}"  action="#" class="search-form" id="patientInfo" name="patientInfo" method="POST"> -->
          

		<form th:object="${appointment}" th:action="@{/updateAppointment}" action="#" class="search-form" id="UpdateappointmentForm" name="UpdateappointmentForm" method="POST">
				
					  
					<div class="row mb-3">
					    <label for="startTime" class="col-sm-2 col-form-label required">Start Time:</label>
					    <div class="col-sm-10">
					        <input type="datetime-local" th:field="*{starttime}" class="form-control" id="starttime" name="starttime" required onchange="validateDateTime('starttime', 'endtime')">
					    </div>
					</div>
					
					<div class="row mb-3">
					    <label for="endTime" class="col-sm-2 col-form-label required">End Time:</label>
					    <div class="col-sm-10">
					        <input type="datetime-local" th:field="*{endtime}" class="form-control" id="endtime" name="endtime" required onchange="validateDateTime('starttime', 'endtime')">
					    </div>
						<div id="dateError" style="color: red;"></div>
					</div>
					
                    <div class="row mb-3">
                        <label for="lastName" class="col-sm-2 col-form-label required">Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{lastname}" class="form-control" id="lastName" name="lastName" required>
                            <div id="lastNameError" style="color: red;"></div>
                        </div>
                    </div>
									
                    <div class="row mb-3">
                        <label for="firstName" class="col-sm-2 col-form-label required">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{firstname}" class="form-control" id="firstName" name="firstName" required>
                            <div id="firstNameError" style="color: red;"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="middleName" class="col-sm-2 col-form-label ">Middle Name:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{middlename}" class="form-control" id="middleName" name="middleName" >
                            <div id="middleNameError" style="color: red;"></div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label for="treatment" class="col-sm-2 col-form-label ">Treatment:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" th:field="*{treatment}" id="treatment" name="treatment" ></textarea>
                            <div id="treatmentNameError" style="color: red;"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mobileNumber" class="col-sm-2 col-form-label required">Mobile Number:</label>
                        <div class="col-sm-10">
                            <input type="tel" th:field="*{patientmobile1}" class="form-control" id="mobileNumber" name="mobileNumber" maxlength="10" oninput="validateMobileNumber(this)" required>
                            <div id="mobileNumberError"  style="color: red;"></div>
                        </div>
                    </div>

		
			         <div class="row mb-3 d-none"><!-- to hide field d-none -->
				        <label for="inputPassword" class="col-sm-2 col-form-label required">AppointmentID</label>
				        <div class="col-sm-10">
				            <input type="text" id="appointmentnum"  th:field="*{appointmentnum}" class="form-control" readonly>
				        </div>
				     </div>
		
				      <div class="d-flex justify-content-center mt-5">
		                 <button type="submit" class="btn btn-primary" id="submitButton">Update</button>
		              </div>
		    </form>
	</main>
		    
	<br>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="vendor/apexcharts/apexcharts.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/chart.js/chart.umd.js"></script>
    <script src="vendor/echarts/echarts.min.js"></script>
    <script src="vendor/quill/quill.min.js"></script>
    <script src="vendor/simple-datatables/simple-datatables.js"></script>
    <script src="vendor/tinymce/tinymce.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
    
    <!-- Back Button Scripts -->
    <!-- Back Next Button -->
	<script>
    function goBack() {
        window.history.back();
    }
	</script>
	<script>
    function goForward() {
        window.history.forward();
    }
	</script>
	
<!-- Validation Script -->
	<script>
	function validateForm() {
		// Validate First Name
        var firstName = document.getElementById("firstName").value;
        if (!/^[a-zA-Z]+$/.test(firstName)) {
            alert("Please enter a valid first name (only characters are allowed)");
            return false;
        }


        // Validate Last Name
        var lastName = document.getElementById("lastName").value;
        if (!/^[a-zA-Z]+$/.test(lastName)) {
            alert("Please enter a valid last name (only characters are allowed)");
            return false;
        }

        
		
     	// Validate Phone Number if there's input
        var phoneNumberInput = document.getElementById("mobileNumber");
        var phoneNumber = phoneNumberInput.value.trim(); // Remove leading and trailing spaces
        phoneNumberInput.value = phoneNumberInput.value.replace(/\D/g, '');
        if (phoneNumber !== "" && !phoneNumber.match(/^[1-9][0-9]{9}$/)) {
            alert("Phone number must be a 10-digit positive number, and the first digit can't be 0!");
            phoneNumberInput.focus();
            return false;
        }
        
        return true;
    }
	</script>
	<!-- Submit button script -->
	<script>
    document.getElementById('UpdateappointmentForm').addEventListener('submit', function(event) {
        if (!validateForm()) {
            event.preventDefault(); // Prevent form submission if validation fails
        }
    });
	</script>
	    
	    
	 <!--  Validate Date and Time -->   
	 
	 
	 	 <!--  Validate Date and Time
	 	 
	 	 	<script>
	function validateDateTime(starttime, endtime) {
        var startDate = new Date(document.getElementById(starttime).value);
        var endDate = new Date(document.getElementById(endtime).value);
        var currentDate = new Date(); // Get the current date and time
        var dateError = document.getElementById("dateError");

        // Check if the start date is less than the current date and time
        if (startDate < currentDate) {
            dateError.textContent = "Start time must be greater than or equal to the current time.";
            document.getElementById("UpdateappointmentForm").addEventListener("submit", function(event) {
                event.preventDefault(); // Prevent form submission if validation fails
            });
            return;
        }

        // Check if the end date is greater than the start date
        if ( endDate >=  startDate) {
            dateError.textContent = "End time must be greater than start time.";
            document.getElementById("UpdateappointmentForm").addEventListener("submit", function(event) {
                event.preventDefault(); // Prevent form submission if validation fails
            });
            return;
        }

        // Add additional logic to check if the same date and time was taken earlier (you need to implement this logic on the server-side)

        // Reset error message and remove event listener if validation passes
        dateError.textContent = "";
        document.getElementById("UpdateappointmentForm").removeEventListener("submit", function(event) {
            event.preventDefault();
        });
    }
	</script>
	 	  -->  
	 	 
	 	 <script>
    function validateDateTime(startId, endId) {
        var startTime = document.getElementById(startId).value;
        var endTime = document.getElementById(endId).value;

        if (startTime && endTime) {
            var startDateTime = new Date(startTime);
            var endDateTime = new Date(endTime);

            if (startDateTime >= endDateTime) {
                document.getElementById('dateError').innerText = 'End time must be greater than Start time.';
            } else {
                document.getElementById('dateError').innerText = '';
            }
        }
    }

    document.getElementById('procedureForm').addEventListener('submit', function (event) {
        var startTime = document.getElementById('starttime').value;
        var endTime = document.getElementById('endtime').value;

        if (startTime && endTime) {
            var startDateTime = new Date(startTime);
            var endDateTime = new Date(endTime);

            if (startDateTime >= endDateTime) {
                document.getElementById('dateError').innerText = 'End time must be greater than Start time.';
                event.preventDefault(); // Prevent form submission if validation fails
            } else {
                document.getElementById('dateError').innerText = '';
            }
        }
    });
</script>



</body>

</html>