<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="utf-8">

	<meta content="width=device-width, initial-scale=1.0" name="viewport">


	<title>Login</title>

	<meta content="" name="description">

	<meta content="" name="keywords">

	<link th:href="@{/img/favicon.png}" rel="icon">

	<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">


	<!-- Google Fonts -->

	<link href="https://fonts.gstatic.com" rel="preconnect">

	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">


	<!-- Vendor CSS Files -->

	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

	<link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">

	<link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">

	<link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">

	<link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">

	<link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<!-- Template Main CSS File -->

	<link th:href="@{/css/style.css}" rel="stylesheet">


	<!-- Fontawesome CDN Link -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


	<!-- Iconscout Link For Icons -->

	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	
	<style>
 	/* Regular style for the back button */
.btn-secondary {
    /* Add any regular styling you want for the button */
    /* For example, you can set a fixed width */
    width: 120px;
}

/* Responsive styling for the back button on smaller screens*/
@media (max-width: 360px) {
    .btn-secondary {
        /* Adjust styling for smaller screens */
        /* For example, you can set a smaller width */
        width: 100px;
    }
}
 	
 	</style>

</head>

<body>
<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
  <!-- Company Pages  -->
  <aside id="sidebar" class="sidebar">

     <ul class="sidebar-nav" id="sidebar-nav">
        
        <li class="nav-item">
     
          <li>
            <a class="nav-link collapsed" th:href="@{/appointment}">
              <i></i><span>Appointment</span>
            </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/viewAppointment}">
              <i></i><span>View Appointments</span>
            </a>
          </li>
       
          <li>
            <a class="nav-link collapsed" th:href="@{/patientinfo}">
              <i></i><span>Patient Registration</span>
            </a>
          </li>
          
          
          <li>
            <a class="nav-link collapsed" th:href="@{/patientList}">
              <i></i><span>Patient List</span>
            </a>
          </li>
          
          <li>
            <a class="nav-link collapsed" th:href="@{/register}" th:if="${userRole == 'ADMIN'}">
              <i></i><span>Create User</span>
            </a>
          </li>
          <li>
            <a class="nav-link collapsed" th:href="@{/usersList}" th:if="${userRole == 'ADMIN'}">
              <i></i><span>Users List</span>
            </a>
          </li>
        
        
          <li>
    <a class="nav-link collapsed" data-bs-target="#money-received-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Money Received</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="money-received-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
            <a class="nav-link collapsed" th:href="@{/displayAmount}">
                <i class="bi bi-circle"></i><span>By Session</span>
            </a>
        </li>

        <li>
            <a class="nav-link collapsed" th:href="@{/doctorReport}">
                <i class="bi bi-circle"></i><span>By External Doctor</span>
            </a>
        </li>

        <li>
            <a class="nav-link collapsed" th:href="@{/labReport}">
                <i class="bi bi-circle"></i><span>By Lab</span>
            </a>
        </li>
    </ul>
</li>

<li>
    <a class="nav-link collapsed" data-bs-target="#export-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Export</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="export-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
            <a class="nav-link collapsed" href="/patients/excel">
                <i class="bi bi-circle"></i><span>Export Patient</span>
            </a>
        </li>

        <li>
            <a class="nav-link collapsed" href="/appointment/excel">
                <i class="bi bi-circle"></i><span>Export Appointment</span>
            </a>
        </li>
    </ul>
</li>

    </ul>

  </aside>
  
  <!-- End Of Company Pages  -->
  

    <div class="d-flex align-items-center justify-content-between" style="position: relative; left: -20px;">
    <a href="#" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block" style="margin-left: 20px;">Om Dental Clinic</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
	</div><!-- End Logo -->

	<!-- User Profile nav -->	
	<nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!-- End Search Icon-->

       <!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <h6>Profile</h6> 
            <span class="d-none d-md-block dropdown-toggle ps-2"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <span>Welcome, <span th:text="${username}"></span></span>
        	  <a th:href="@{/logout}">Logout</a>
            </li>
            

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->
    

  </header><!-- End Header -->
  <main id="main" class="main">
  
   <div class="pagetitle">
      <button onclick="goBack()" type="button" class="btn btn-secondary rounded-pill btn-sm" style="float: right;">
    	<i class=""></i>Back</button>  <br>
          <h1>User Registration Form</h1>
          <nav>
        	<ol class="breadcrumb">
          		<li class="breadcrumb-item"><a href="#">Home</a></li>
          		<li class="breadcrumb-item active">User Registration</li>
        	</ol>
      		</nav>
    </div>
  
  
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container" style="margin-top:-80px">
          <div class="row justify-content-center" > 

              

              <div class="card mb-4">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your username password and role create account</p>
                  </div>
<!-- 				   success message -->
<!-- 				   <div th:if="${param.success}"> -->
<!-- 				   		<div class="alert alert-info"> You've Successfully Registered</div> -->
<!-- 				   </div> -->
				   
<!-- 				   <th:block th:if="${session.msg}"> -->
<!-- 				   	<p class="text-center fs-4 text-success">[[${session.msg}]]</p> -->
<!-- 				   <th:block th:text="${#session.removeAttribute('msg')}"></th:block> -->
<!-- 				   </th:block> -->
						
                  <form class="row g-3 needs-validation" novalidate th:action="@{/register}" method="post">
                    <div class="col-12">
                      <label for="yourName" class="form-label" >UserName</label>
                      <input type="text"  class="form-control" id="username" name="username"  autofocus="autofocus" required/>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>
                    				
					<!-- Role's Dropdown -->
                   	<div class="col-12">
                  <label class="col-sm-12 col-form-label">Login Mode / Roles</label>
                  <div class="col-sm-12">
                    <select name="role" id="role" class="form-select" aria-label="Default select example" required>
                      <option value="" disabled selected>-- Login Mode / Roles --</option>
                      <option value="ADMIN">ADMIN</option>
                      <option value="RECEP1">RECEP1</option>
                      <option value="RECEP2">RECEP2</option>
                      <option value="RECEP3">RECEP3</option>
                   </select>
                   <div id="error" class="invalid-feedback">Please select a role </div>
                  </div>
                </div>
                 

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password"  class="form-control" id="password" name="password"  autofocus="autofocus" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                      
<!--                       <button type="reset" class="btn btn-secondary mx-5" id="resetForm" onclick="resetForm()">Reset</button> -->
                    </div>
                    
                  </form>

                </div>
              </div>

           

            </div>
          </div>
     

      </section>

  </main>
  
  <!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
	<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
	<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/vendor/quill/quill.min.js}"></script>
	<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/vendor/php-email-form/validate.js}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/main.js}"></script>
	
	<!-- Back Button Scripts -->
    <!-- Back Next Button -->
	<script>
    function goBack() {
        window.history.back();
    }
	</script>
	<script>
    function goForward() {
        window.history.forward();
    }
	</script>
	
	<!-- Form Reset script -->
	<script>
	function resetForm() {
 	 	document.getElementById("appointmentForm").reset();
	}
  </script>

</body>

</html>